# Groq API configuration (Required)
GROQ_API_KEY=base64:Z3NrXzBZWUo1bFNWN0lWUWp1Ylh1azdtV0dkeWIzRlk1UGdnQVl3Vjdmc2MzODBPam53NkY0WnQ=

# Gemini API configuration (Optional - used for text embeddings)
GEMINI_API_KEY=base64:QVEuQWI4Uk42SkhzSHlpZXcxSF8yR1dwbEdaY0NHR3hxd3N1Y1FTMzV4dnhfSzBCSHkzTmc=
